*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0px;
     /* position: fixed; 
   top: 0;         
   width: 100%;    
  z-index: 1000; */
}
#navbar li{
    list-style: none;
}
#section1{
    width: 100vw;
    height: 90vh;
    background-color : yellow;
    background-image: url(assets/1.png);
    background-size: 80%;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 53px;
    text-align: center;
}
button{
    margin-top: 15px;
    border-radius: 980px;
    color: white;
    font-size: 14px;
        line-height: 1.42859;
        font-weight: 400;
        letter-spacing: -.016em;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        --sk-button-margin-horizontal: 14px;
        --sk-button-margin-vertical: 14px;
        min-width: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-color: transparent;

}
.btn1{
        background-color: rgb(0, 102, 204);
   
}
.btn2{
    background-color: transparent;
    border-color: rgb(0, 102, 204);
    color: rgb(0, 102, 204);

}
.btn2:hover{
    border-color: transparent;
    background-color: rgb(0, 102, 204);
   color: white;
}
#section1 h1{
    font-size: 50px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
#section1 p{
    font-size: 25px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#section2{
    width: 100vw;
    height: 90vh;
    background-color : yellow;
    background-image: url(assets/2.jpg);
    background-size: 80%;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 53px;
    text-align: center;
    margin-top: 10px;
}

#section2 h1{
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 50px;
}
#section2 p{
    font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#section3{
    width: 100vw;
    height: 90vh;
    background-color : yellow;
    background-image: url(assets/3.jpg);
    background-size: 80%;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-top: 53px;
    text-align: center;
}
#section3 p{
        color: white;
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        margin-bottom: 30px;
}